# Folders
.idea/
.gradle/
.sonar/
bin/
build/
gen/

# Files
.class
.classpath
.DS_Store
.gradletasknamecache
.settings
ant.properties
com_crashlytics_export_strings.xml
lint.xml
local.properties
previews.xml
crashlytics-build.properties
*.apk
*.dex
*.iml
*.jks
*.keystore